/* Font */
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src:
        url(/assets/fonts/Lato-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 700;
    src:
        url(/assets/fonts/Lato-BoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src:
        url(/assets/fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 400;
    src:
        url(/assets/fonts/Lato-Italic.ttf) format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 200;
    src:
        url(/assets/fonts/Lato-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 200;
    src:
        url(/assets/fonts/Lato-LightItalic.ttf) format("truetype");
}

/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color: #fff;
    color: #222;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

a::after {
    color: inherit;
}

a:active {
    color: inherit;
}

a:hover {
    color: inherit;
}

/* Top navigation */

.top-nav-container {
    padding: 1em;
    text-align: center;
}

.top-nav {
    margin: auto;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
}

.brand {
    font-weight: 700;
    text-transform: uppercase;
}

.links-container {
    display: flex;
}

.links-container .link:not(:last-child) {
    margin-right: 1em;
}

/* Hero */

.hero-image {
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url(/assets/images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.hero-heading {
    margin: 0.5em;
}

.cta-light {
    background-color: #fff;
    color: #222;
    font-family: inherit;
    font-size: inherit;
    margin: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.7em;
    font-weight: 700;
    text-transform: uppercase;
}

/* Section image left */

.image-section {
    padding: 1em;
}

.image-section-container {
    margin: auto;
    max-width: 900px;
    display: flex;
    justify-content: center;
}

.image-section-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text-left {
    margin-right: 2em;
}

.text-right {
    margin-left: 2em;
}

.image-section-heading {
    margin-bottom: 0.5em;
}

.image-section-image {
    max-width: 50%;
}